.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.header{
    grid-column: 2/4;
    background-color: purple;
}
.sidebar{
    grid-row: 1/5;
    background-color: aqua;
}
.nav{
    grid-column: 2/4;
    background-color: yellow;
}
.content{
    grid-row: 3/5;
    background-color: gray;
}
.announcements{
    
    background-color: brown;
}
.trending{
    
    background-color: green;
}