body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.header{
    grid-column: 2/4;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:8px;
    padding: 10px;
}
.header-right{
    display: flex;
    gap: 8px;
}
.search-bar{
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    max-width: 500px;
}
.sidebar{
    grid-row: 1/5;
    background-color: aqua;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 100px;
}
.nav{
    grid-column: 2/4;
    background-color: yellow;
    padding: 10px;
    display: grid;
    grid-template-columns: 1rem 1fr 2fr;
    align-content: center;
}
.nav-right{
    height: fit-content;
    display: flex;
    gap: 30px;
    justify-self: end;
}
.content{
    grid-row: 3/5;
    background-color: gray;
    padding: 10px;
    display: grid;
    grid-template-rows: 20px 1fr;
    gap:15px;
}
.heading1{
    font-size: 20px;
    font-weight: bold;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.announcements{
    
    background-color: brown;
}
.trending{
    
    background-color: green;
}